data_params:
  data_file: "./process_data_annotation/data/taco_train_sampled.json"
  output_dir: "./process_data_annotation/outputs"
  logs_dir: "./process_data_annotation/logs"

model_params:
  # openi
  # model_type: "openai"
  # model_name: "gpt-4o-mini"
  
  # vllm
  model_type: "vllm"
  model_name: "/root/autodl-tmp/projects/models/Qwen2.5-Coder-7B-Instruct" # model path
  
  temperature: 1.0
  max_tokens: 8192
  max_completion_tokens: 4096

  is_chat: True

  # config for vllm
  vllm_config:
    tensor_parrallel_size: 1

search_algorithm_params:
    c_puct: 0.25
    alpha: 0.5
    beta: 0.9 
    length_scale: 500
    num_rollouts: 16
    max_search_count: 32
    rollout_budget: 200